<h2>Projects</h2>

<form (ngSubmit)="onSubmit()">
  <label for="name">Project Name:</label>
  <input type="text" id="name" [(ngModel)]="project.name" name="name" required>

  <label for="title">Project Title:</label>
  <input type="text" id="title" [(ngModel)]="project.title" name="title" required>

  <label for="photo">Project Photo:</label>
  <input type="file" id="photo" (change)="onFileChange($event)" required>

  <label for="link">Project Link:</label>
  <input type="text" id="link" [(ngModel)]="project.link" name="link" required>

  <button type="submit">{{ editMode ? 'Update Project' : 'Upload Project' }}</button>
</form>

<ul>
  <li *ngFor="let proj of projects">
    <p>{{ proj.name }} - {{ proj.title }}</p>
    <button (click)="editProject(proj)">Edit</button>
    <button (click)="deleteProject(proj._id)">Delete</button>
  </li>
</ul>
